<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Image Metadata</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- JS Util -->
    <script src="/assets/js/calls.js"></script>

    <style>
      canvas {
        width:1100px !important;
        height:400px !important;
      }
    </style> 

  </head>
  <body>
    <div class="container">
      <hr>
      <h4>20 PHOTOS</h4>
      <div id="output1">...</div>
      <div id="output2">...</div>
      <div id="output3">...</div>
      <div id="output4">...</div>
      <div id="output5">...</div>
      <div id="output6">...</div>
      <div id="output7">...</div>
      <div id="output8">...</div>
      <div id="output9">...</div>
      <div id="output10">...</div>
      <div id="output11">...</div>
      <div id="output12">...</div>
      <div id="output13">...</div>
      <div id="output14">...</div>
      <div id="output15">...</div>
      <div id="output16">...</div>
      <div id="output17">...</div>

      <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
      <!-- JQuery JSON js -->
      <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
   
      <script>
        $(document).ready( function() { 
          getData("p01lc1wq.jpg", "output1");
          getData("p0356wrd.jpg", "output2");
          getData("p049tqpm.jpg", "output3");
          getData("p04cf3gp.jpg", "output4");
          getData("p04jk8t5.jpg", "output5");
          getData("p04jqv00.jpg", "output6");
          getData("p04qn04v.jpg", "output7");
          getData("p05k906w.jpg", "output8");
          getData("p05nc8ly.jpg", "output9");
          getData("p060lmh4.jpg", "output10");
          getData("p060x87q.jpg", "output11");
          getData("p061cnxf.jpg", "output12");
          getData("p061crk9.jpg", "output13");
          getData("p061n3h7.jpg", "output14");
          getData("p061n4q9.jpg", "output15");
          getData("p061nlyb.jpg", "output16");
          getData("p061qdwk.jpg", "output17");

        });     
      </script>
    </div>
  </body>
</html>
